#if($jspgeneration == "true")
<%@ page contentType="text/html; charset=UTF-8" import="java.net.URLEncoder,java.util.*,com.kony.web.WEBConstants,com.kony.web.util.WAPConfigUtility,com.kony.web.KonyAppConfig" %>
    <%
    response.setDateHeader("Expires", (new Date(0)).getTime());
    response.setHeader("Cache-Control", "no-store, no-cache, must-revalidate, post-check=0, pre-check=0, max-age=0");
    response.setHeader("Pragma", "no-cache");
    %>


<%
    KonyAppConfig appConfig = (KonyAppConfig) application.getAttribute(WEBConstants.KONY_APP_CONFIG);
    String propertiesJSON = "";
    String headersJSON = "";
    String paramsJSON = "";
    if(appConfig!=null ){
    propertiesJSON = (String) application.getAttribute(appConfig.getAppID() + WEBConstants.THINCLIENT_PROPERTIES + "_JSON");

    headersJSON = (String) request.getAttribute("headersJSON");
    paramsJSON = (String) request.getAttribute("paramsJSON");
    }
  %>
#end



<!DOCTYPE html>
<html #if($isDebug=="true" && $enableProgressiveWeb != "true") manifest="${category}kony.manifest" #end>
    <head>#if($jspgeneration=="true") <% String userAgent = request.getHeader("user-agent"); if(userAgent != null && userAgent.toLowerCase().contains("trident")){%><meta http-equiv="X-UA-Compatible" content="IE=edge"><%}%> #end
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        #if($appleicon)
            <link rel="apple-touch-icon" href="desktopweb/images/$appleicon" />
        #end
        #if($favicon)
            <link rel="shortcut icon" href="desktopweb/images/$favicon"/>
        #end
        #if($webmanifest)
            <link rel="manifest" href="desktopweb/webmanifest.js">
        #end
        #if($themecolor)
             <meta name="theme-color" content="$themecolor"/>
        #end
        #if($metatags)
            $metatags
        #end
        #parse("tpwebfiles.vm")
        #parse("tpxhtmljspxfsbuster.vm")
        <script type="text/javascript">
             ##Adding IndexJL here to know if the project is of type lua or js
                        #if($indexjl == "lua")
                        IndexJL = 1;
                        #elseif($indexjl == "js")
                        IndexJL = 0;
                        #end
        </script>

        ## adding custom widgets(js and css files)
        #parse("tpcustomwidget.vm")

        #parse("tpdesktopcommonlocale.vm")

        <style type = "text/css">
            #parse("tpindexcustomfonts.vm")
        </style>

         #if($apptitle)
              <title>$apptitle</title>
         #end

    #if($jspgeneration=="true")

        <%
        boolean releasemode = false;
        //Do not remove the below comment. This is added for minification. During minification process, this will be un-commented.
        //releasemode = true;

        %>
    #end

    #set($jscount = $importjsfiles.size())
    #if($jscount > 0)
        #foreach ($jsfile in $importjsfiles)
          <script src="$jsfile"></script>
        #end
    #end

    #if($enableProgressiveWeb == "true" && $jspgeneration == "true")
    <script type="text/javascript">
        if('serviceWorker' in navigator) {
            window.addEventListener('load', function() {
                var swUrl = '/<%=appConfig.getAppID()%>/sw.js';
                navigator.serviceWorker.register(swUrl).then(function(reg) {
                    window.konySwRegistration = reg;
                    console.log('Service Worker Registered Successfully.');
                }).catch(function(err) {
                    console.log('Service Worker Registration Failed.', err)
                });
            });
        } else {
            console.log('Service Workers are not supported.');
        }
    </script>
    #end

    </head>
    <body style= "$style" bodyalign="$bodyalign" aria-busy='true' aria-live='polite' aria-relevant='additions' aria-atomic='false'>
    <DIV id="splashDiv">

            #if($jspgeneration=="true")
        <input type="hidden" name="_reqHeaders" value='<%=headersJSON != null ? headersJSON : "" %>'>
                <input type="hidden" name="_reqParams" value='<%=paramsJSON != null ? paramsJSON : ""%>'>
        <input type="hidden" name="_konyAppProperties" value='<%=propertiesJSON != null ? propertiesJSON : ""%>'>
            #end
        <div id="splashScreen" class="splash" style=""></div>
            #if($jspgeneration=="true")
                <% Object sessionObj = request.getSession(false); %>
        <%
                if(sessionObj == null || session.getAttribute("desktopweb") == null){
            %>
            <div id="isnewsession" style="display:none">true</div>
            <%
            session = request.getSession();
            session.setAttribute("desktopweb","desktopweb");
        }else{
            %>
            <div id="isnewsession" style="display:none">false</div>
            <%
        }
        %>
            #end
        <script type="text/javascript">

                    function loadcss() {
                        var link = document.createElement('link');
                        link.setAttribute('rel', 'stylesheet');
                        link.setAttribute('type', 'text/css');
                        link.setAttribute('href', 'desktopweb/konydesktop.css');
                        var head = document.getElementsByTagName('head')[0];
                        head.appendChild(link);
                    }


            #if($jspgeneration=="true")
                <%if(releasemode){ %>
            #if($enableProgressiveWeb == "true")
                setTimeout(function() {
                            loadcss();
                            loadKonyframework();
                    }, 0);
            #else
                      setTimeout(function() {
                            loadcss();
                            initappcache();
                    }, 0);
                    function initappcache ()
                    {
                        isIE=  window.navigator.appVersion.match(/MSIE (\d+)/) != null;
                        isIE8= window.navigator.appVersion.match(/MSIE (\d+)/) != null && RegExp.$1 == "8";
                        isIE9= window.navigator.appVersion.match(/MSIE (\d+)/) != null && RegExp.$1 == "9";
                        isIE10= navigator.userAgent.match(/MSIE (\d+)/) != null && RegExp.$1 == "10";
                        if (document.documentElement.getAttribute("manifest") && !! window.applicationCache) {
                                var a = ["checking", "downloading", "progress", "cached", "noupdate", "updateready", "obsolete", "error"];
                                for (var d = 0; d < a.length; d++) {
                                        window.applicationCache.addEventListener(a[d],appcacheeventhndlr, false)
                                }
                        } else {
                                //kony.appinit.loadlibrarysync();

                        }
                        loadKonyframework();

                    }

                    function appcacheeventhndlr(event)
                    {
                        if(!event)
                                event = window.event;
                        switch (event.type) {
                                case "checking":
                                        console.log("Checking for Manifest Version");
                                        break;

                                case "downloading":
                                        console.log("Downloading of Manifest Resources");
                                        break;

                                case "progress":
                                        break;

                                case "cached":
                                        console.log("Manifest Resources loading done");
                                        //loadKonyframework();
                                        break;

                                case "noupdate":
                                        console.log("No Change in Manifest File");
                                       // loadKonyframework();
                                        break;

                                case "updateready":
                                        console.log("New manifest resources downloaded,swap the cache");
                                        try{
                                            window.applicationCache.swapCache();
                                            //loadKonyframework();
                                            window.location.reload();
                                        }catch (e) {
                                            console.log("invalid state: swapping the cache");
                                        }
                                        break;

                                case "obsolete":
                                        console.log("Cache Manifest file not found. So deleting app cache");
                                        break;

                                case "error":
                                        console.log("Error while loading app cache");
                                        //loadKonyframework();
                                        break;

                                default:
                                        console.log("Appcache Event not supported");
                        }
                    }
            #end
                    function initializeframework()
                    {
                        kony.appinit.prepareHttpHeaders();
                        $KG["skipproxy"] = true;
                        kony.appinit.verifyhref(true);
                    }

                    function loadKonyframework()
                    {
                        appStartTime = new Date().getTime();
                        addScript("jslib/konyframework.js");
                    }

                    function loadappjs()
                    {

                        $KG["platformver"] = "desktopweb/";
                        $KG["rcid"] = "spadesktopweb";
                        $KG["version"] = "$version";
                        $KG["staticContentPath"] =  "";
                        $KG["imagecat"] =  "";
                        $KG["retina"] = "";

                        addScript("appjs/app.js");
                    }

                    function addScript (src)
                    {
                        var head =  document.getElementsByTagName('head')[0];
                        var script = document.createElement('script');
                        script.src = "$category" + src;
                        script.type = "text/javascript";

                       if(src ==="appjs/app.js" || src ==="appjs/appie.js"){
                            if(!script.addEventListener) {
                                script.onreadystatechange = function(){
                                        (this.readyState == 'complete' || this.readyState == 'loaded') && initializeframework();
                                };
                            }
                            else {
                                script.onload = initializeframework;
                            }
                        }
                        else{
                            if(!script.addEventListener) {
                                script.onreadystatechange = function(){
                                        (this.readyState == 'complete' || this.readyState == 'loaded') && loadappjs();
                                };
                            }
                            else {
                                script.onload = loadappjs;
                            }
                        }

                          head.appendChild(script);
                    }

                <%}else{%>
            #end
                    loadcss();
                    function initappcache()
                    {

                            $KG["platformver"] = "desktopweb/";
                            $KG["rcid"] = "spadesktopweb";
                            $KG["version"] = "$version";
                            $KG["staticContentPath"] =  "";

                            kony.appinit.initappcache();
                    }
                    var head = document.getElementsByTagName('head')[0];
                    var script = document.createElement('script');
                    appStartTime = new Date().getTime();
                    script.src = "desktopweb/jslib/konyinit.js";
                    //onreadystatechange for IE, IE9 supports both onload and onreadystatechange.
                    if(!script.addEventListener){
                            script.onreadystatechange = function(){
                                    (this.readyState == 'complete' || this.readyState == 'loaded') && initappcache();
                            };
                    }
                    else
                    script.onload = initappcache;
                    head.appendChild(script);

               #if($jspgeneration=="true")  <%}%> #end

            </script>
 <style>
    #JavaScriptDisabledErrorMsg { display:none; }
 </style>
 <noscript>
    <style type='text/css'>
        form {display: none !important}
        * html ul li {height:1em; vertical-align:bottom;}
        html {display : block}
        #JavaScriptDisabledErrorMsg {display:block;}
        #splashScreen_main{display:none;}
    </style>
 </noscript>
 <div id="JavaScriptDisabledErrorMsg"> $javascripterrormsg </div>
 </DIV>
    </body>
</html>