<canvas id="myChart" width="400" height="400"></canvas>
<script type = "text/javascript" src = "Chart.min.js"></script>
<script>
var ctx = document.getElementById('myChart');

var dataPack1 = [10, 11, 9, 8, 7, 6, 10];
var dataPack2 = [5, 2, 4, 2, 6, 12, 4];
var dates = ["May 1", "May 2", "May 3", "May 4", "May 5", "May 6", "May 7"];

var bar_chart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: dates,
        datasets: [
        {
            label: 'Bowser',
            data: dataPack1,
						backgroundColor: "rgba(55, 160, 225, 0.7)",
						hoverBackgroundColor: "rgba(55, 160, 225, 0.7)",
						hoverBorderWidth: 2,
						hoverBorderColor: 'lightgrey'
        },
        {
            label: 'Mario',
            data: dataPack2,
						backgroundColor: "rgba(225, 58, 55, 0.7)",
						hoverBackgroundColor: "rgba(225, 58, 55, 0.7)",
						hoverBorderWidth: 2,
						hoverBorderColor: 'lightgrey'
        },
        ]
    },
    options: {
     		animation: {
        	duration: 10,
        },
        tooltips: {
					mode: 'label',
          callbacks: {
          label: function(tooltipItem, data) { 
          	return data.datasets[tooltipItem.datasetIndex].label + ": " + tooltipItem.yLabel;
          }
          }
         },
        scales: {
          xAxes: [{ 
          	stacked: true, 
            gridLines: { display: false },
            }],
          yAxes: [{ 
          	stacked: true, 
            ticks: {
        			callback: function(value) { return value; },
     				}, 
            }],
        }, // scales
        legend: {display: true}
    } // options
   }
);
</script>