.MTrimmedWindow.topLevel {
	margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 2px;
    margin-right: 2px;
}

.MTrimBar {
	background-color: linear-gradient left #E5EDFC 25%,#99BAF3 70%;
	color: white;
}

Label {

  color: black;
  background-color: #f2f2f3;
}

Composite Label {
  
  color: black;
  background-color: #f2f2f3;
}

CLabel {
  
  color: black;
  background-color: #E5EDFC;
}

Composite CLabel {
  
  color: black;
  background-color: #f2f2f3;
}

ViewerFilterComposite {
	background-color: #d6f9ff;
}

Text {
  
}

Composite Text[style~='SWT.WRAP'] {
  background-color: #f2f2f3;  
  color: black;
}

Composite Text {
  color: black;
}

SashForm {
  background-color: #f2f2f3;
}

Composite, BrowsableTextUI {
	background-color: #f2f2f3;
	color: black;
}
Group{
	
	background-color: #f2f2f3 !important;
	color: black;
}



Group CLabel {
  
  color: black;
    
}

Shell {
    background-color: #f2f2f3;
    color: black;
}

ToolBar, Button, CBanner, CoolBar, MenuBar {
  background-color: linear-gradient left #f2f2f3 0%,#f2f2f3 36%;
  
}


/*Menu Styling is not possible presently:
@see https://bugs.eclipse.org/bugs/show_bug.cgi?id=264531*/

/*Menu {
	background-color: #bce0d5;
	animation: slideIn;
}*/

/*MenuItem {
  font: italic arial,sans-serif 8px;
  color: black;
}*/

CTabFolder, TabFolder {
	
	background-color: linear-gradient left #bfbfbf 100%,#bfbfbf 100%;
	text-decoration:none;
	
}

CTabItem, TabItem {
	
	color: whilte;
	background-color: linear-gradient left #bfbfbf 100%,#bfbfbf 100%;
	border: 2px solid black;
	height:100px;
	
	
}

CTabItem:selected {
	
	color: black;
	background-color: linear-gradient left #d8d8da 100%,#d8d8da 100%;
	text-decoration:none;
	height:100px;
}

TabItem:selected {
	
	color: black;
	background-color: linear-gradient left #E5EDFC 25%,#99BAF3 70%;
	text-decoration:none;
	height:100px;
}

Tree {
	background-color: linear-gradient left #ffffff 0%,#eaeaea 36%;
	color: black;
}

TreeItem {
	color: black;
}

TreeItem:selected {
	color: #2F4F4F;
}

Table {
	background-color: linear-gradient left #ffffff 0%,#eaeaea 36%;
	color: black;
	
}

TableItem:selected {
	background-color: #407759;
}

List {
	background-color: linear-gradient left #ffffff 0%,#ffffff 36%;
	color: black;
}

Composite List {
	background-color: #f2f2f3;
	color: black;
}

ListItem {
	color: black;
}

ListItem:selected {
	color: #2F4F4F;
}

Composite Button {
  background-color: #f2f2f3;
}

Composite Button[style~='SWT.PUSH'] {
  border: 2px solid #005092;
  border-radius: 16px;
  color: black;
  background-color: #f2f2f3;
}

Button[style~='SWT.CHECK'] {
  
  color: black;
  background-color: #f2f2f3;
}

Button[style~='SWT.RADIO'] {
  color: black;
  background-color: #f2f2f3;
}

Button:disabled {
   color: black;
}

StyledText {
	background-color: linear-gradient left #ffffff 0%,#eaeaea 36%;
}

InfoText {
	background-color: #f2f2f3;
}

Canvas {
	background-color: linear-gradient left #ffffff 0%,#eaeaea 36%;
}

/* To comply with W3c Specification inheritance can't be supported.
https://bugs.eclipse.org/bugs/show_bug.cgi?id=283624 */

AbstractSyncObjectComposite, SyncAttributesComposite, SyncDatabaseAttributesComposite, SyncFiltersComposite, 
SyncOperationComposite, SyncCreateOperationComposite, SyncDeleteOperationComposite, SyncGetAllOperationComposite, 
SyncGetBatchOperationComposite, SyncGetChangesOperationComposite, SyncGetDeletedOperationComposite, SyncGetDeletedOperationComposite,
SyncGetOperationComposite, SyncGetServerTimeOperationComposite, SyncLoginOperationComposite, SyncLogoutOperationComposite,
SyncUpdateOperationComposite, SyncRelationshipsComposite {
	background-color: linear-gradient left #E5EDFC 25%,#99BAF3 70%;
}

#org-eclipse-ui-trim-status,
#org-eclipse-ui-trim-vertical1,
#org-eclipse-ui-trim-vertical2 {
   visibility: hidden;
}


/**April 17 2015**/

LayoutComposite{
	
	background-color:#f2f2f3;
}

Composite{
	background-color: #f2f2f3;
}
Composite Group{
	background-color: #f2f2f3 ;
}


Sash{
	background-color: #f2f2f3;
	
}

Section{
	background-color: #d8d8da;

}


Composite Label{
	
	background-color:#f2f2f3 !important;
}

Hyperlink{
	background-color: #f2f2f3;
}

Tree{
	background-color:#eeeeef !important;
}

.MPartStack {
	swt-maximize-visible: false;
	swt-minimize-visible: false;
}

